@media screen and (max-width: 480px){

    .box{
        border:0.5px solid rgba(190, 190, 190, 0.575);
        padding:10px;   
        background-color:white;
        transition:0.5s ease;
    
    
    
    }

    .buttons{
        margin-left:15px;
        margin-right:15px;
        padding:0px;
    }

}

@media screen and (min-width: 800px){
    .box{
        border:0.5px solid rgba(190, 190, 190, 0.575);
        padding:15px;
        background-color:white;
        transition:0.5s ease;
    

    }
}

*{
    user-select: none;
}

.buttons{
    display:flex;
    justify-content: center;
    margin-top:35px;
    gap:10px;
     
}

.red{
   box-shadow:0 0 5px red;
}

.blue{
    box-shadow:0 0 5px blue;
 }

 .green{
    box-shadow:0 0 5px green;
 }

 .yellow{
    box-shadow:0 0 5px yellow;
 }

 .black{
    box-shadow:0 0 5px black;
 }

 .white{
    box-shadow:0 0 5px white;
 }

.gridsize{
    display:flex;
    justify-content: center;
    margin-bottom:35px;
    gap:10px;
    
}

body{
    margin:0px;
    padding-top:4%;
    background-color:rgba(92, 92, 182, 0.459);

}




.pagewrap{
   

}



.gridhost{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-left:20%;
    margin-right:20%;

    



  
}